<style>
 .social-icons__link-footer > svg {
    color: #000;
   background:#fff;
}
  .Social-icon-footer .icon {
    width: 25px;
    height: 25px;
    padding: 5px;
}
  .social-icons__item-footer {
    padding: 10px;
}
  
  .footer-insta {
    display: flex;
    flex-direction: row;
    margin: 3rem;
}
   footer {
    {% if section.settings.SelectType=="Dark" %}
    background: black;
    {% endif %}
}
  
.footer-insta__content {
    width: 45%;
}
  .footer-instagram {
    width: 55%;
}
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  .footer-insta__content {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
  .copyright-footer p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 4rem 0;
}
  
  .copyright-footer p a {
    color: #fff;
    text-decoration: underline;
}
  
  .copyright-footer p a:hover {
    color: #fff;
    text-decoration: underline;
}
  
  @media only screen and (max-width: 750px) {
    
    .footer-insta {
    flex-direction: column;
    margin: 1.5rem;
}
    .footer-insta__content {
    width: 100%;
}
    .footer-instagram {
    width: 100%;
}
    .grid__item.small--one-whole.site-footer-item-align-right {
    font-size: 1.2rem;
    margin: 2rem 0;
}
    .copyright-footer p {
    font-size: 1rem;
}
    
  }
  
</style>


{%- assign social_icons = false -%}

{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or request.page_type == 'article'
  or request.page_type == 'blog'
-%}
  {%- assign social_icons = true -%}
{%- endif -%}

{%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}




<footer>
  <div class="footer-insta">
  <div class="footer-insta__content">
    {%- if section.settings.heading != blank and section.settings.discription != blank -%}
    <div class="container">
  <div class="head_content">
    <h3 class="head">{{section.settings.heading}}</h3>
    <div class="head_p">
    <p>{{section.settings.discription}}</p>
    </div>
  </div>
      
 

{%- if social_icons -%}
	<div class="Social-icon-footer">
          <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
            {%- for social in socials -%}
              {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
              {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
              {%- if settings[social_link] != blank -%}
                <li class="social-icons__item-footer">
                  <a class="social-icons__link-footer" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
                    {%- include icon_link -%}
                    <span class="icon__fallback-text">{{ social }}</span>
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
<li class="social-icons__item-footer">
                <a class="social-icons__link-footer" href="mailto:slickharegrooming@gmail.com">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 479.058 479.058" height="512" viewBox="0 0 479.058 479.058" width="512"><path d="m434.146 59.882h-389.234c-24.766 0-44.912 20.146-44.912 44.912v269.47c0 24.766 20.146 44.912 44.912 44.912h389.234c24.766 0 44.912-20.146 44.912-44.912v-269.47c0-24.766-20.146-44.912-44.912-44.912zm0 29.941c2.034 0 3.969.422 5.738 1.159l-200.355 173.649-200.356-173.649c1.769-.736 3.704-1.159 5.738-1.159zm0 299.411h-389.234c-8.26 0-14.971-6.71-14.971-14.971v-251.648l199.778 173.141c2.822 2.441 6.316 3.655 9.81 3.655s6.988-1.213 9.81-3.655l199.778-173.141v251.649c-.001 8.26-6.711 14.97-14.971 14.97z"/></svg>
                  <span class="icon__fallback-text">Email</span>
                </a>
              </li>
            {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
              <li>
                <a class="social-icons__link-footer" href="{{ shop.url }}{{ blog.url }}.atom">
                  {% include 'icon-rss' %}
                  <span class="icon__fallback-text">RSS</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
</div>
        {%- endif -%}





  </div>
  {%- endif -%}
  </div>
    <div id="insta-feed" class="footer-instagram"></div> 
  </div>
  
<!--   <div class="grid__item small--one-whole {{ copyright_show_class }} site-footer-item-align-right">
        <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
        <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
      </div> -->
  
  
  <div class="copyright-footer"> {{section.settings.copyright}} </div>
</footer>




{% schema %}
  {
    "name": "footer-insta",
    "settings": [
	{
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
	{
      "type": "richtext",
      "id": "discription",
      "label": "Discription"
    },
	{
      "type": "richtext",
      "id": "copyright",
      "label": "copyright"
    },
      
    {
      "type": "select",
      "label":"Select Background Type",
      "options": [
        {
          "label": "Dark",
          "value":"Dark"
        },
        {
          "label": "Light",
          "value":"Light"
        }
      ],
      "id": "SelectType",
      "default": "Light"
    }
    
	
  	],

"presets": [
    {
      "category": "footer-insta",
      "name": "footer-insta",
      "settings": {}
    }
  ]
}
{% endschema %}