<style>
  .main-funnel-hero-section {
    background: #F9F6EF;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}
  .main-funnel-hero-section .container{
    max-width:1920px;
    margin:0px auto;
  }
  .hero_heading h1{
     font-family:"Oswald", sans-serif;
     font-size:56px;
     font-weight:700;
     line-height:82.99px;
     color:#110000;
     max-width:727px;
  }
  .hero_description_wrap{
    max-width:665px;
  }
  .hero_description_wrap p{
     font-family:"Oswald", sans-serif;
     font-size:26px;
     line-height:38.53px;
     color:#000000CC;
  }
  .button_wrapper{
    padding-top:30px;
  }
.button_wrapper a {
    padding: 15.5px 89px 15.5px 89px;
    background-color: #D3A640;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
   cursor:pointer;
}

  .hero_before_after_slider {
  position: relative;
  max-width: 679px;
  height: 625px;
  border: 2px solid white;
  border-radius:10px;
}
.hero_before_after_slider .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size:cover;
}

.hero_before_after_slider .foreground-img {
  width: 50%;
}
.hero_before_after_slider .slider {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background:transparent;
  outline: none;
  margin: 0;
  padding:0;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_before_after_slider .slider:hover {
  background: rgba(242, 242, 242, 0.1);
}
.hero_before_after_slider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:3px;
  height: 620px;
  background:#000;
  cursor: pointer;
}
.hero_before_after_slider .slider::-moz-range-thumb {
  width: 3px;
  height: 620px;
  background: #000;
  cursor: pointer;
}
.hero_before_after_slider .slider-button {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:#000;
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_before_after_slider .slider-button:after {
  content: "";
  padding: 3px;
  display: inline-block;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}
.hero_before_after_slider .slider-button:before {
  content: "";
  padding: 3px;
  display: inline-block;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}
.main-funnel-hero-section .row {
    display: flex;
    width: 100%;
    align-items: center;
}
  .col-lg-6{
    width:50%;
  }

  @media only screen and (max-width:1300px) {
   .hero_heading h1{
     font-size:36px;
     line-height:46px;
   }
  .main_hero_container {
      padding-right: 30px;
  }
    .main-funnel-hero-section{
      padding:50px;
    }
    .hero_before_after_slider{
      max-width:80%;
      height: fit-content;
      aspect-ratio:1;
      margin:0px auto;
    }
    .hero_before_after_slider .slider::-webkit-slider-thumb{
      height:fit-content;
      aspect-ratio:1;
    }
    .hero_before_after_slider .foreground-img{
          border-right: 3px solid #000;
    }
}

    @media only screen and (max-width:992px) {
     .hero_heading h1 {
          font-size: 24px;
          line-height: normal;
      }
      .hero_description_wrap p{
        font-size:18px;
        line-height:normal;
      }
      .main-funnel-hero-section .button_wrapper a{
        padding: 10px 20px;
        font-size: 16px;
        line-height: normal;
      }
    }
      @media only screen and (max-width:768px) {
          .main-funnel-hero-section{
      padding:20px;
    }

      .main_hero_container{
        padding-right:0;
      }
      }
      @media only screen and (max-width:492px) {
          .main-funnel-hero-section .row .col-sm-12{
              width:100%;
         }
         .main-funnel-hero-section .row{
               flex-direction: column-reverse;
         }
        .main_hero_container {
          padding-top: 50px;
          padding-bottom: 30px;
          }
      }


</style>
<div class="main-funnel-hero-section">
   <div class="container">
     <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
           <div class="main_hero_container">
             {% if section.settings.heading !=blank %}
              <div class="hero_heading">
                 <h1>{{ section.settings.heading }}</h1>
              </div>
             {% endif %}
             {% if section.settings.content !=blank %}
              <div class="hero_description_wrap">
                {{ section.settings.content }}
              </div>
            {% endif %}
             {% if section.settings.button_label !=blank %}
              <div class="button_wrapper">
                  <a href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
              </div>
            {% endif %}
           </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="hero_before_after_slider">
             
    <div class='img background-img' style="background-image: url('{{ section.settings.after_image |img_url:'master' }}')"></div>
    <div class='img foreground-img' style="background-image: url('{{ section.settings.before_image |img_url:'master' }}')"></div>
    <input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider">
    <div class='slider-button'></div>

          </div>
       </div>
     </div>

   </div>
</div>

<script>
  $("#slider").on("input change", (e)=>{
  const sliderPos = e.target.value;
  // Update the width of the foreground image
  $('.foreground-img').css('width', `${sliderPos}%`)
  // Update the position of the slider button
  $('.slider-button').css('left', `calc(${sliderPos}% - 18px)`)
});
</script>
{% schema %}
  {
    "name": "Funnel Hero",
    "class":"section-funnel-hero",
    "settings": [
       {
         "type":"text",
         "id":"heading",
         "label":"Funnel Hero Heading",
         "default":"Grow the Beard You Deserve: Achieve a Thicker, Healthier Beard Naturally."
       },
       {
         "type":"richtext",
         "id":"content",
         "label":"Funnel Hero Content"
       },
        {
         "type":"text",
         "id":"button_label",
         "label":"Button Label",
         "default":"Learn More About the Kit"
       },
       {
         "type":"url",
         "id":"button_link",
         "label":"Button Link"
       },
       {
         "type":"header",
         "content":"Before and After Settings"
       },
       {
         "type":"image_picker",
         "id":"before_image",
         "label":"Before Image"
       },
       {
         "type":"image_picker",
         "id":"after_image",
         "label":"After Image"
       }
    ],
    "presets": [
      {
        "name":"Funnel Hero"
      }
    ]
  }
{% endschema %}